Create a results dataframe of a bowling tournament
==

In [2]:
# import libraries
import pandas as pd

# Input after tournament

In [3]:
city = 'Eindhoven'
date = "10-08-2018"

In [49]:
sheet_dict_string = [{'player':'Roy', 'game':1, 'opponent':'Erik', 'score_string':'8/9-X X 6/4/X 8-X XXX'},
                    {'player':'Erik', 'game':1, 'opponent':'Roy', 'score_string':'8/9-X X X X X -/X XXX'},
                    {'player':'Pim', 'game':1, 'opponent':None, 'score_string':'8/9-X 9-X 72X 8-X XXX'}]

# Calculate the results

TODO

* Shorten the score function

In [45]:
def valid(game):
    """Check if a game string is valid.
    A valid game string is 21 chars.

    Keyword arguments:
    game -- string of game scores
    """
    if len(game) == 21:
        return True
    return False

def count_event(game, event):
    """Count the number of an event thrown in the game
    
    Keyword arguments:
    game -- a valid game string
    event -- strike
             spare
             gutter
             rotterdam
    
    Return:
    total events -- a int of the total event count
    """
    events = {}
    events['strike'] = 'X'
    events['spare'] = '/'
    events['gutter'] = '-'
    events['rotterdam'] = '-/'
    
    return game.count(events[event])

def score(game):
    """Calculate the scores per frame and in total.
    
    Foreach frame there are three possible scoring rules:
    
    
    Rule A. The score for a frame is the total pins bowled over during that frame, if the number is less than ten (an open frame, or error or split depending some other rules beyond the scope of this problem).
    Rule B. If all ten pins are bowled over on the first delivery (a strike), the score for that frame is 10 + the next two deliveries.
    Rule C. If all ten pins are bowled over between the first two deliveries (a spare), the score for that frame is 10 + the next delivery.

    
    Keyword arguments:
    game -- a valid game string
    
    Return:
    results -- a dict with a list of the frames and a list of 10 elements with score tuples
    """
    
    # List to return
    score = list()
    
    # Replace the dash for a zero
    game = game.replace('-','0')
    
    # Total score
    total = 0
    
    # Break the game string in frames
    n = 2
    frames = [game[i:i+n] for i in range(0, len(game)-3, n)]
    frames.append(game[-3:])
    
    # Loop through the frames to apply a score
    # TODO: KEY INDEX ENDING IS FRAME 9 & 10
    for key, frame in enumerate(frames):
        if key < 9:
            if frame[0] == 'X':
                # Rule B should be applied
                frame_score = 10
                
                if key is not 8:
                
                    next_deliveries = frames[key+1] + frames[key+2]

                    if next_deliveries[0] == 'X':
                        frame_score+= 10
                        if next_deliveries[2] == 'X':
                            frame_score+= 10
                        else:
                            frame_score+= int(next_deliveries[2])
                    else:
                        if next_deliveries[1] == '/':
                            frame_score+= 10
                        else:
                            frame_score+= int(next_deliveries[0]) + int(next_deliveries[1])
                else:
                    next_deliveries = frames[key+1]
                    
                    if next_deliveries[1] == '/':
                        frame_score+=10
                    else:
                        for n in next_deliveries[:2]:
                            if n == 'X':
                                frame_score+=10
                            else:
                                frame_score+=int(n)
            elif frame[1] == '/':
                # Rule C should be applied
                next_delivery = frames[key+1][0]
                next_delivery = next_delivery.replace('X','10')
                frame_score = 10 + int(next_delivery)
            else:
                # Rule A should be applied
                frame_score = int(frame[0]) + int(frame[1])
                
        else:
            last = list(frames[9])
            for k,v in enumerate(last):
                if v == ' ':
                    last[k] = 0
                if v == 'X':
                    last[k] = 10
                elif v == '/':
                    last[k] = 10 - int(last[k-1])
            last = [ int(x) for x in last ]
            frame_score = sum(last)
            
        total+= frame_score
        score.append((frame_score, total))
        
    # Undo the dash zero
    frames = [frame.replace('0','-') for frame in frames]
    return {'frames':frames,'score':score}

In [56]:
# calculates scores from the sheet_dict_string
scores = list()
player_game_result = list()

for i in sheet_dict_string:
    result = score(i['score_string'])
    print(result)
    player_game_dict = {}
    player_game_dict['player'] = i['player']
    player_game_dict['game'] = i['game']
    player_game_dict['opponent']= i['opponent']
    
    # Can only be calculated after all players results are build
    player_game_dict['won']= None
    player_game_dict['position']= None
    
    player_game_dict['hundred'] = None
    player_game_dict['strikes']= count_event(i['score_string'],'strike')
    player_game_dict['spares']= count_event(i['score_string'],'spare')
    player_game_dict['gutter']= count_event(i['score_string'],'gutter')
    player_game_dict['rotterdam']= count_event(i['score_string'],'rotterdam')
    player_game_dict['city'] = city
    player_game_dict['date'] = date
    player_game_dict['result'] = result['score'][9][1]
    
    for k,v in enumerate(result['frames']):
        my_dict = {}
        my_dict['player'] = i['player']
        my_dict['game'] = i['game']
        my_dict['city'] = city
        my_dict['date'] = date
        my_dict['frame'] = k+1
        my_dict['thrown'] = v
        my_dict['points'] = result['score'][k][0]
        my_dict['cumulative'] = result['score'][k][1]
        
        if result['score'][k][1] > 99 and player_game_dict['hundred'] is None:
            player_game_dict['hundred'] = my_dict['frame'] = k+1
        
        
        scores.append(my_dict)
        
    player_game_result.append(player_game_dict)

# generate a dataframe
frames_df = pd.DataFrame.from_dict(scores)
    
player_game_df = pd.DataFrame.from_dict(player_game_result)


### --- META DATA --- ###

### PER PLAYER -> PER GAME ###




# Was there a opponent? Who won?


### PER GAME -> PER FRAME ###

# find beerframes



# generate metadata dataframe


# write the dataframes to .csv files for presentation in Power BI

{'frames': ['8/', '9-', 'X ', 'X ', '6/', '4/', 'X ', '8-', 'X ', 'XXX'], 'score': [(19, 19), (9, 28), (26, 54), (20, 74), (14, 88), (20, 108), (18, 126), (8, 134), (30, 164), (30, 194)]}
{'frames': ['8/', '9-', 'X ', 'X ', 'X ', 'X ', 'X ', '-/', 'X ', 'XXX'], 'score': [(19, 19), (9, 28), (30, 58), (30, 88), (30, 118), (20, 138), (20, 158), (20, 178), (30, 208), (30, 238)]}
{'frames': ['8/', '9-', 'X ', '9-', 'X ', '72', 'X ', '8-', 'X ', 'XXX'], 'score': [(19, 19), (9, 28), (19, 47), (9, 56), (19, 75), (9, 84), (18, 102), (8, 110), (30, 140), (30, 170)]}

In [41]:
frames_df

         city  cumulative        date  frame  game player  point thrown
0   Eindhoven          19  10-08-2018      1     1    Roy     19     8/
1   Eindhoven          28  10-08-2018      2     1    Roy      9     9-
2   Eindhoven          54  10-08-2018      3     1    Roy     26     X
3   Eindhoven          74  10-08-2018      4     1    Roy     20     X
4   Eindhoven          88  10-08-2018      5     1    Roy     14     6/
5   Eindhoven         108  10-08-2018      6     1    Roy     20     4/
6   Eindhoven         126  10-08-2018      7     1    Roy     18     X
7   Eindhoven         134  10-08-2018      8     1    Roy      8     8-
8   Eindhoven         164  10-08-2018      9     1    Roy     30     X
9   Eindhoven         194  10-08-2018     10     1    Roy     30    XXX
10  Eindhoven          19  10-08-2018      1     1   Erik     19     8/
11  Eindhoven          28  10-08-2018      2     1   Erik      9     9-
12  Eindhoven          58  10-08-2018      3     1   Erik     30     X
13  Eindhoven          88  10-08-2018      4     1   Erik     30     X
14  Eindhoven         118  10-08-2018      5     1   Erik     30     X
15  Eindhoven         146  10-08-2018      6     1   Erik     28     X
16  Eindhoven         164  10-08-2018      7     1   Erik     18     X
17  Eindhoven         172  10-08-2018      8     1   Erik      8     8-
18  Eindhoven         202  10-08-2018      9     1   Erik     30     X
19  Eindhoven         232  10-08-2018     10     1   Erik     30    XXX
20  Eindhoven          19  10-08-2018      1     1    Pim     19     8/
21  Eindhoven          28  10-08-2018      2     1    Pim      9     9-
22  Eindhoven          47  10-08-2018      3     1    Pim     19     X
23  Eindhoven          56  10-08-2018      4     1    Pim      9     9-
24  Eindhoven          75  10-08-2018      5     1    Pim     19     X
25  Eindhoven          84  10-08-2018      6     1    Pim      9     72
26  Eindhoven         102  10-08-2018      7     1    Pim     18     X
27  Eindhoven         110  10-08-2018      8     1    Pim      8     8-
28  Eindhoven         140  10-08-2018      9     1    Pim     30     X
29  Eindhoven         170  10-08-2018     10     1    Pim     30    XXX

In [ ]:
# From zero to hundred in how many frames? --> column 'hundred'

In [54]:
player_game_df

,city,date,game,gutter,hundred,opponent,player,position,result,rotterdam,spares,strikes,won
0,Eindhoven,10-08-2018,1,2,6,Erik,Roy,None,194,0,3,7,None
1,Eindhoven,10-08-2018,1,2,5,Roy,Erik,None,238,1,2,9,None
2,Eindhoven,10-08-2018,1,3,7,None,Pim,None,170,0,1,7,None

## For each frame overall
* Find Beerframes

In [1]:
# check per frame in a game if all bowlers except one are throwing strikes

## For each game
* If there is an opponent; who won?